table,th,td{
border: 1 px;border-style: solid;border-color: black;
border-collapse: collapse;
width:50%;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

tr:nth-child(even) {
   background-color:white; 
}


tr:nth-child(odd) {
   background-color:chocolate; 
}
.paragraph-3{
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: large;
   color:brown;
   font-style:normal;
   text-align:justify;
}


th, td {
   padding: 10px;
   text-align:justify;
}

th {
   background-color:aquamarine;
   color:black
}
tbody tr:nth-child(odd) {
   background-color:chocolate; 
 }